EXPO_PUBLIC_SUPABASE_URL=https://tjncjwlizakgzbbefile.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqbmNqd2xpemFrZ3piYmVmaWxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDgyOTEsImV4cCI6MjA5MTQyNDI5MX0.XXtMzgmRftFkZXLvw5nIEBDSdcR3IEkBz_sGPpIhY7E
